@font-face {
  font-family: 'iconfont';  /* project id 1128838 */
  src: url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.eot');
  src: url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.woff') format('woff'),
  url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1128838_j2dcvoi40v.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousu:before {
  content: "\e629";
}

.icon-fenlei:before {
  content: "\e613";
}

.icon-xiala:before {
  content: "\e696";
}

.icon-ElecfansAPPiCON-:before {
  content: "\e608";
}

.icon-pinglun:before {
  content: "\e661";
}

.icon-shipin8:before {
  content: "\e610";
}

.icon-zan:before {
  content: "\e6a5";
}

.icon-paihangbangdan_icon:before {
  content: "\e619";
}

.icon-you:before {
  content: "\e616";
}

.icon-fankui:before {
  content: "\e604";
}

.icon-fankui1:before {
  content: "\e63a";
}

.icon-pengyouquan:before {
  content: "\e648";
}

.icon-dianzan11:before {
  content: "\e600";
}

.icon-shipinbofang:before {
  content: "\e63d";
}

.icon-arrLeft-fill:before {
  content: "\e601";
}

.icon-shipin1:before {
  content: "\e686";
}

.icon-arrLeft-fill1:before {
  content: "\e602";
}

.icon-comment:before {
  content: "\e603";
}

.icon-lishi:before {
  content: "\e60d";
}

.icon-dengdeng:before {
  content: "\e60e";
}

.icon-huiyuanjia:before {
  content: "\e628";
}

.icon-xie:before {
  content: "\e65a";
}

.icon-shipin2:before {
  content: "\e658";
}

.icon-fenxiang:before {
  content: "\e605";
}

.icon-xiugaifenlei:before {
  content: "\e617";
}

.icon-meiriqiandao:before {
  content: "\e618";
}

.icon-shoucang-active:before {
  content: "\e60c";
}

.icon-mianfeizhuanqu:before {
  content: "\e61a";
}

.icon-huiyuanzhongxin:before {
  content: "\e62a";
}

.icon-fankui2:before {
  content: "\e607";
}

.icon-lahei-dilan:before {
  content: "\e614";
}

.icon-guanbi:before {
  content: "\e642";
}

.icon-shanchu:before {
  content: "\e606";
}

.icon-yemian-copy:before {
  content: "\e611";
}

.icon-shipin:before {
  content: "\e634";
}

.icon-weixin:before {
  content: "\e622";
}

.icon-forward:before {
  content: "\e6d6";
}

.icon-gengduo-pingbi:before {
  content: "\e653";
}

.icon-gengduo:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e666";
}

.icon-chazhao:before {
  content: "\e61b";
}

.icon-you1:before {
  content: "\e62d";
}

.icon-wodedangxuan1-copy-copy:before {
  content: "\e612";
}

.icon-wode:before {
  content: "\e64c";
}

.icon-guanbi1:before {
  content: "\e60a";
}

.icon-star:before {
  content: "\e60b";
}

.icon-zhaoxiangji:before {
  content: "\e615";
}

.icon-shuxian:before {
  content: "\e60f";
}

.icon-shujia:before {
  content: "\e61c";
}

.icon-shipin-bofang:before {
  content: "\e678";
}

.icon-lahei:before {
  content: "\e695";
}

